.container{
    display: flex;
    gap: 64px;
    color: var(--white-100);
    padding: 128px;
}

.left{
    display: flex;
    flex-direction: column;
    gap: 64px;
    justify-content: center;
    align-items: center;
}

.right{
    display: flex;
    flex-direction: column;
    gap: 32px;
    justify-content: center;
    align-items: center;
}

.image{
    width: 400px;
    border-radius: 8px;
}

.buttons{
    display: flex;
    flex-direction: column;
    gap: 32px;
    width: fit-content;
}

@media screen and (max-width: 1150px){
    .container{
        flex-direction: column;
    }

    .left{
        flex-direction: row;
    }

    .desktop{
        display: none;
    }

    .mobile{
        display: flex;
        flex-direction: row;
    }
}
