.icon{
    width: 32px;
    height: 32px;
}


.link{
    position: relative;
    display: flex;
    text-decoration: none;
    background: var(--brand-gradient-5);
    padding: 16px;
    border-radius: 8px;
    justify-content: center;
    align-items: center;
    outline: 1px solid var(--highlight-100);
    width: 100%;
}

.text{
    margin-left: 16px;
    background: var(--brand-gradient-100);
    color: rgba(0,0,0,0);
    -webkit-background-clip: text;
}

.link:hover{
        box-shadow: 0px 0px 3px var(--highlight-100);
}

.link:active{
    background: var(--brand-gradient-10);
}
