.container{
    min-height: 100vh;
    background-color: var(--black-100);
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero{
    display: flex;
    gap: 64px;
    margin: 0 128px;
    padding: 64px 32px;
    text-align: center;
    max-width: 1000px;
}

.imagecontainer{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image{
    width: 240px;
    height: 240px;
    border-radius: 120px;
}

.info > *{
    color: var(--white-100);
}

.info{
    display: flex;
    flex-direction: column;
    gap: 64px;
}

.title > *{
    color: var(--white-100);
    line-height: 50px;
}

.title{
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
}

.title > *:last-child {
    color: var(--white-50);
}

.title > *:first-child {
    text-decoration: underline;
}

.links > *{
    color: var(--white-100);
    width: max-content;
}

.links{
        display: flex;
    flex-direction: row;
    gap: 16px;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;

}



@media screen and (max-width: 1150px){
    .hero{
        flex-direction: column;
    }
    .image{
        width: 160px;
        height: 160px;
    }
    .title > h2{
        font-size: 41px;
        line-height: 37px;
    }
    .title > h3{
        font-size: 33px;
        line-height: 37px;
    }
    .info{
        gap: 32px;
    }
}
@media screen and (max-width: 900px){
    .hero{
        gap: 32px;
        margin: 0 32px;
    }
    .info > p {
        line-height: 21px;
    }
}
